{
  "env": {
      "es6": true,
      "node": true,
      "commonjs": true
  },
  "extends": [
      "airbnb",
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:jsx-a11y/recommended"
  ],
  "parserOptions": {
      "ecmaFeatures": {
          "experimentalObjectRestSpread": true,
          "jsx": true
      },
      "sourceType": "module"
  },
  "plugins": [
      "react",
      "jsx-a11y",
      "import"
  ],
  "rules": {
      "quotes": ["warn", "single"],
      "semi": "error",
      "no-console": "off",
      "react/forbid-prop-types": "off",
      "no-undef": "warn"
  }
}